<div class="container">
    <div class="col-xs-2"><div class="visible-lg"><%= image_tag 'mori.jpg', class:"ad" %></div></div>   
    
    <div class="col-xs-8">

      <header>ログイン</header>
      <br>
      <% if logged_in? %>
        <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
        <br><br>
      <% else %>
        <%= link_to "アカウント作成", new_user_path %>
        <br><br>
      <% end %>

      <% flash.each do |key,value|%>
        <%= content_tag(:div, value, class:"#{key}") %>
      <% end %>

      <%= form_with(scope: :session, url:sessions_path, local:true) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email %><br>
      <%= f.label :password %>
      <%= f.password_field :password %><br>
      <%= f.submit "ログイン" %>
      <% end %>

      <footer>
        <div class="company">© Picture Corp. All RIGHTS RESERVED.</div>
      </fotter>

    </div>
    <div class="col-xs-2"><div class="visible-lg"><%= image_tag 'making_150202_03.jpg', class:"ad" %></div></div>
</div>