<div class="container">
  <div class="col-xs-2"><div class="visible-lg"><%= image_tag 'mori.jpg', class:"ad" %></div></div>   
    
  <div class="col-xs-8">
    
    <header>お気に入り一覧</header>
    <br>
    <p><%= notice %></p>

    <div class=row>
      <div class="top-bottom">
        <%= link_to "ログアウト", session_path(current_user.id), method: :delete, class: 'btn btn-primary' %>  
        <%= link_to 'ユーザー編集', edit_user_path(current_user.id), class: 'btn btn-primary' %><br><br>
        <%= link_to '投稿一覧', pictures_path, class: 'btn btn-primary'  %>
      </div>
    </div>

    <div class="row">
      <% @favorites.reverse_each do |favorite| %>

        <% if favorite.user.id == current_user.id %>

        <div class="content">
          <div class="panel panel-info">
            <div class="panel-heading">
              <p><%= image_tag(favorite.picture.user.image.url, size:'30x30', class:"panel-body.picture")  if favorite.picture.user.image.present?%>         <%= favorite.picture.user.name %></p>
            </div>

            <div class="panel-body">
              <br>
              <%= image_tag(favorite.picture.upload.url, size: '410x300', class:"panel-body.picture")  if favorite.picture.upload.present?%>
              <br>
              <p><%= favorite.picture.content %></p>
              <div class="panel-body.bottom-text"><%= favorite.picture.created_at %></div>
            </div>
          </div>
        </div>

        <% else %>
         
        <% end %>
      <% end %>
    </div>

    <footer>
      <div class="company">© Picture Corp. All RIGHTS RESERVED.</div>
    </fotter>
    
  </div>

  <div class="col-xs-2"><div class="visible-lg"><%= image_tag 'making_150202_03.jpg', class:"ad" %></div></div>
</div>